<%- include('../partials/header.ejs')%>
<div>
    <h2>Welcome, <%=user.firstName%></h2><br>
    <%if(showtimes.length) {%>
        <div class="rsvps"><p>You have entered the following events: </p></div>
        <%showtimes.forEach(showtime => {%>
    <div class="image-size">        
        <a href = '/<%= showtime.id%>'><p><%= showtime.eventName%><img height="130" src= <%= showtime.image %> </p></a><br> </div>
        <%})
    } else {%> 
       <div class="rsvps"><p>You have not entered any events yet.</p></div> 
    <%}%>
</div>  

    <%if(rsvps.length) {%>
        <div class="rsvps"><p><br>You have RSVP'd the following events: </p><br></div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Event name</th>
                    <th>RSVP Status</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
        <%rsvps.forEach(rsvp => {%>
            <tr>
                <td><%=rsvp.showtime.eventName%></td>
                <td><%=rsvp.rsvp%></td>
                <form>
                    <td><button class="btn btn-primary" formmethod="get" formaction='/<%= rsvp.showtime._id%>/'>Update</button></p></a></td>
                    <td><button class="btn btn-danger" formmethod="post" formaction='/<%= rsvp.showtime._id%>/rsvp?_method=DELETE'>Delete</button></p></a></td>
                </form>
            </tr>
            </tbody>
        <%})%> 
            
    </table>
    <%} else {%>
        <div class="rsvps"><p>You have not created any RSVPs yet.</p></div>
    <%}%>

    <%- include('../partials/footer.ejs')%>