<%- include('../partials/header.ejs')%>
        
        
        <main>
            <div class="image-size"><div class="text-center"><p><img class="rounded" width="300" height="300" src= <%= showtime.image%>></p></div></div>
            <div class="text-center"><p><%= showtime.title%></p></div>
            <div class="text-center"><p>Hosted by <%= showtime.host%></p></div>
            <div class="text-center"><p><%= showtime.date%></p></div>
            <div class="text-center"><p><%= showtime.start%> - <%= showtime.end%></p></div>
            <div class="text-center"><p>Location: <%= showtime.location%></p></div>
            <div class="text-center"><p><%= showtime.details%></p></div>
            <form action="showtimes.ejs" class="btn-container">
                <div class="btn-group">
                    <button id="edit-button" type="submit" class="btn btn-primary" formmethod = "GET" formaction = "/<%= showtime.id%>/edit">Edit</button>
                    <button type="submit" class="btn btn-primary" formmethod = "POST" formaction = "/<%= showtime.id%>?_method=DELETE">Delete</button>
                </div>
            </form>
        </main>
<%- include('../partials/footer.ejs')%>