<%- include('../partials/header.ejs')%>
<main>    
    
    
<h1 style="text-align: center;">Available Movie Events</h1>
    <%if(showtimes.length){%>
        <%showtimes.forEach(showtime=>{%>
            <div class="image-size">
                <div class="text-center">
                    <a href = '/<%= showtime.id%>'><p><%= showtime.eventName%><img height="160" src= <%= showtime.image %> </p></a>
                    
                </div> 
            </div>
               
        <% });       
    }%>
</main> 
        <%- include('../partials/footer.ejs')%>