<%- include('../partials/header.ejs')%>
<main>    
    
    <% if (showtimes.length) { %>
        <p>Select a showtime from the list:</p>
        
        <% for (i = 0; i < genres.length; i++) { %>
            <p> <%= genres[i] %> </p>
            <% for (x = 0; x < showtimes.length; x++) { %>
                <% if (showtimes[x].genre === genres[i]) { %>
                    <a href="/<%=showtimes[x].id%>"><p> <%= showtimes[x].eventName %> </p></a>
            <%  } %>
        <%  } %>
    <%  } %>

    <%} else { %>
        <p>There are no connections to display</p>
<%  } %>
</main> 
        <%- include('../partials/footer.ejs')%>